* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  font-size: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  margin: 0 auto;
  padding: 15px;
  text-decoration: none;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
